In [1]:
import pandas as pd

In [2]:
url_path = "https://raw.githubusercontent.com/sstricklen112/capstone_example/refs/heads/main/data/bank_customers.csv"
df_customers = pd.read_csv(url_path)
df_customers.head()

   CustomerID AccountType      Balance BranchCode  Status
0       10001  Investment  5097.043256        NYC  Active
1       10002         NaN  3338.099767        CHI  Active
2       10003  Investment  5540.913652        CHI  Active
3       10004  Investment  4899.523781        NYC  Active
4       10005    Checking  4522.103906        CHI  Active